<div>
    <h4>Legenda</h4>
    <div class="flag flag_gray"></div> Status indisponível<br>
    <div class="flag flag_green"></div> Sem falhas detectadas<br>
    <div class="flag flag_yellow"></div> Falhas não criticas detectadas<br>
    <div class="flag flag_red"></div> Falhas críticas detectadas<br>
    <div class="flag flag_black"></div> Evacuação imediata<br>
</div>

