@model SCA.Shared.Entities.Maintenance.Manutencao

@{
    ViewData["Title"] = "Manutenção - Editar";
}

<h1>@ViewData["Title"]</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Init">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InsumoId" class="control-label"></label>
                <input asp-for="InsumoDesc" class="form-control" readonly />
                <input type="hidden" asp-for="InsumoId" />
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAgendamento" class="control-label"></label>
                <input asp-for="DescricaoAgendamento" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="DataAgendamento" class="control-label"></label>
                <input asp-for="DataAgendamento" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PrevisaoManutencao" class="control-label"></label>
                <input asp-for="PrevisaoManutencao" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="DataInicioManutencao" class="control-label"></label>
                <input asp-for="DataInicioManutencao" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="DescricaoManutencao" class="control-label"></label>
                <textarea asp-for="DescricaoManutencao" class="form-control" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<SCA.Shared.Entities.Enums.ManutencaoTipo>()" class="form-control" readonly="readonly" tabindex="-1" aria-disabled="true">
                    <option selected="selected" value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<SCA.Shared.Entities.Enums.ManutencaoStatus>()" class="form-control" readonly="readonly" tabindex="-1" aria-disabled="true">
                    <option selected="selected" value=""></option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Pendentes">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

