@{
    ViewData["Title"] = "SCA - Permissão negada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@ViewData["Title"]</div>

<div class="row">
    <div style="padding:50px;">
        <div style="font-size:large;color:red;padding-top:20px;">Você não tem permissão para acessar esse recurso.</div>
    </div>
</div>